/* Core Web Design Services */

.webdesign-core-service-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
    margin-bottom: 50px;
}

.webdesign-core-service-main-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.webdesign-core-service-front-bx {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #FFF;
    border-radius: 30px;
    padding: 40px;
    gap: 30px;
    width: 584px;
    height: 439px;
    z-index: 1;
}

.webdesign-core-service-behind-bx {
    position: absolute;
    border-radius: 50px;
    background: #007B42;
    box-shadow: 0px 50px 100px 0px rgba(0, 123, 66, 0.20);
    width: 624px;
    height: 240px;
    bottom: -4%;
    opacity: 0;
    transition: all 0.5s;
}

.webdesign-core-service-main-bx:hover .webdesign-core-service-behind-bx {
    opacity: 1;
}


/* Content Management System(CMS) Integration */

.webdesign-system-sec-bx {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 594px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    padding: 40px;
    transition: all 0.5s;
}

.webdesign-system-sec-bx:hover {
    background: #E4F7F3;
    box-shadow: 20px 20px 30px 0px rgba(0, 123, 66, 0.10) inset, -20px -20px 30px 0px rgba(255, 255, 255, 0.50) inset;
}

.webdesign-Content {
    display: flex;
    gap: 40px;
    align-items: center;
}


/*  SEO-Friendly Design */
.webdesign-SEO-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Content Delivery Network (CDN) Integration */

.webdesign-content-delivery-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.webdesign-content-delivery-bx {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.webdesign-content-sm-bx-sec {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.webdesign-content-sm-bx {
    width: 382px;
    height: 225px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.webdesign-content-sm-bx-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 382px;
    height: 225px;
    position: absolute;
    top: 100%;
    border-radius: 30px;
    height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    padding: 0 30px;
}

.webdesign-content-sm-bx:hover {
    box-shadow: 0px 50px 100px 0px rgba(0, 123, 66, 0.10);

    .webdesign-content-sm-bx-overlay {
        top: 0;
        height: 100%;
    }
}

.webdesign-System-Content {
    display: flex;
    align-items: center;
    gap: 20px;
}


@media (max-width:750px) {
    .webdesign-core-service-front-bx {
        width: 400px;
        height: 500px;
    }

    .webdesign-core-service-behind-bx {
        width: 440px;
    }

    .webdesign-system-sec-bx {
        width: 400px;
    }
}

@media (max-width:500px) {

    .webdesign-system-sec-bx {
        width: 350px;
    }

    .webdesign-core-service-front-bx {
        width: 350px;
    }

    .webdesign-core-service-behind-bx {
        width: 390px;
    }

    .webdesign-content-sm-bx {
        width: 300px;
    }

    .webdesign-content-sm-bx-overlay {
        width: 300px;
        padding: 0 20px;
    }
}

@media (max-width:300px) {
    
    .webdesign-system-sec-bx {
        width: 230px;
        height: 100%;
        padding: 20px;
    }

    .webdesign-System-Content {
        display: flex;
        align-items: flex-start;
        gap: 0;
        flex-direction: column;
    }

    .webdesign-core-service-front-bx {
        width: 230px;
        height: 100%;
    }

    .webdesign-core-service-behind-bx {
        width: 250px;
        bottom: -3%;
    }

    .webdesign-content-sm-bx {
        width: 230px;
        padding: 20px;
    }

    .webdesign-content-sm-bx-overlay {
        width: 230px;
        padding: 0 10px;
    }

    .testimonials-bottom-box-text {
        font-size: 16px;
    }
}