.rainyGame-modeling-title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 600;
}

.rainyGame-modeling-icon {
    transition: all 0.5s ease-out;
    margin-top: 50px;
}

.rainyGame-modeling-box {
    display: flex;
    width: 276px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    background: #FFF;
    position: relative;
    background-image: radial-gradient(circle at center, #007B42 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-position: 50% 50%;
    background-size: 0% 0%;
}


.rainyGame-content {
    opacity: 0;
}

.rainyGame-bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #E4F7F3;
    position: absolute;
    top: 298px;
    border-radius: 20px;
    bottom: 0;
    height: 100px;
    width: 95%;
    transition: all 0.5s ease;
    padding: 0 30px;
}

.rainyGame-modeling-box:hover {
    background-size: 200% 200%;

    .rainyGame-modeling-icon {
        display: none;
    }

    .rainyGame-content {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 18px;
    }

    .rainyGame-bottom-box {
        background-color: #FFF;
    }

}

@media (max-width:300px) {
    .rainyGame-modeling-box:hover {
        .rainyGame-content {
            font-size: 16px;
        }
    }
    .rainyGame-modeling-title {
        font-size: 18px;
    }
}