.blog-main-section {
    display: flex;
    gap: 40px;
}

.company-blog-main-img {
    width: 720px;
    height: 520px;
    position: relative;
    overflow: hidden;
}

.company-blog-main-img-section {
    position: relative;
}

.company-blog-main-img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    bottom: 0;
    overflow: hidden;
    width: 720px;
    height: 520px;
    color: #FFF;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.company-blog-overlay-title {
    font-size: 24px;
    font-weight: 600;
}

.company-blog-overlay-text {
    font-size: 18px;
    font-weight: 400;
}

.blog-main-right-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-main-right-section-title {
    font-size: 24px;
    font-weight: 600;
    color: #007B42;
}

.blog-sm-box-content-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.blog-sm-box-content-2 {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #007B42
}

.blog-sm-box-content-3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.blog-main-section-sm-box {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.blog-sm-box-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* section 2 */

.blog-second-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.blog-tag-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.blog-tag {
    background-color: #FFF;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
}

.blog-images-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.blog-images-bx {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 383px;
}

.blog-second-sec-image {
    width: 383px;
    height: 300px;
}


@media (max-width:1450px) {
    .company-blog-main-img {
        width: 550px;
    }

    .company-blog-overlay-title {
        font-size: 20px;
    }
    
    .company-blog-overlay-text {
        font-size: 14px;
    }

    .company-blog-main-img-overlay {    
        top: 65%;  
        width: 550px;
        padding: 0 40px;
        gap: 20px;
    }
    .blog-second-sec-image {
        width: 283px;
        height: 200px;
    }
    .blog-images-bx {
        width: 283px;
    }
}

@media (max-width:1020px) {
    .blog-main-section {
       flex-wrap: wrap;
    }
    .company-blog-main-img {
        width: 620px;
        height: 420px;
    }
    .blog-main-section {
       justify-content: center;
    }
}

@media (max-width:650px) {
   
    .company-blog-main-img {
        width: 450px;
        height: 320px;
    }

    .company-blog-main-img-overlay {    
        top: 55%;  
        width: 450px;
        padding: 0 30px;
    }

    .blog-tag {  
        font-size: 18px;
    }
  
}

@media (max-width:499px) {
    .company-blog-main-img {
        width: 350px;
        height: 220px;
    }

    .company-blog-main-img-overlay {    
        top: 45%;  
        width:350px;
        padding: 0 20px;
    }

    .blog-tag {
        padding: 5px 15px;
        font-size: 14px;
    }

    .company-blog-overlay-title {
        font-size: 18px;
    }
    
    .company-blog-overlay-text {
        font-size: 12px;
    }

    .blog-main-section-sm-box {
      flex-wrap: wrap;
    }

}

@media (max-width:300px) {
    .company-blog-main-img {
        width: 250px;
        height: 200px;
    }

    .company-blog-main-img-overlay {    
        top: 35%;  
        width: 250px;
    }

    .blog-tag {
        font-size: 12px;
    }

    .company-blog-overlay-title {
        font-size: 16px;
    }
    
    .company-blog-overlay-text {
        font-size: 10px;
    }

    .blog-main-section-sm-box {
      flex-wrap: wrap;
      gap: 10px;
    }

    .blog-second-sec-image {
        width: 250px;
    }
    .blog-images-bx {
        width: 250px;
    }

}