/* .service-section {
    margin: 60px 300px 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} */






.mern-technology-section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.mern-tech-box,
.mern-tech-box-bottom {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 100px 0px rgba(0, 123, 66, 0.20);
    margin-top: -60px;
    transition: all 0.5s;
    z-index: 1;
}

.mern-tech-box-bottom {
    margin-top: 0;
}

.mern-tech-box:hover,
.mern-tech-box-bottom:hover {
    transform: scale(1.2);
}

.service-weare-image {
    height: 500px;
}


@media (max-width: 1450px) {
    
    .mern-technology-section {
        padding: 20px;
        flex-wrap: wrap;
    }

    .mern-tech-box,
    .mern-tech-box-bottom {
        padding: 30px;  
    }

}

@media (max-width:1350px) {
    .mern-tech-box,
    .mern-tech-box-bottom {
       margin-top: 0;
    }
}