.game-developement-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.game-box {
    display: flex;
    gap: 20px;
    width: 270px;
    /* height: 100%; */
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.game-bx-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.game-bx-description {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.game-green-main-dot {
    width: 20px;
    height: 100%;

    border-radius: 50px;
    background-color: #00BF67;
    transition: all 0.5s;
    position: relative;
}

.game-inner-white-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 6px;
    top: 6px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.game-box:hover {
    .game-green-main-dot {
        height: 20px;
    }
}